body {
    font-family: Arial, sans-serif;
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding-top: 100px;
    background-color: whitesmoke;
    flex-wrap: wrap;
    border-radius: 30%;
}

.container {
    background-color: white;
    padding: 40px;
    width: 500px;
    flex-wrap: wrap;
    border-radius: 5%;
    gap: 5px;
}

h1 {
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    color: black;
    font-size: 30px;
                
}

input {
    font-family: Arial, sans-serif;
    width: 470px;
    padding: 10px;
    border: 1px solid gray;
    font-size: 15px;
    display: flex ;
    flex-wrap: wrap;
    margin-bottom: 10px;
                
}

#button {
    font-family: Arial, sans-serif;
    background-color: blue;
    border: 1px solid gray;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    display: flex;
    width: 490px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
                
}

.task {
    font-family: Arial, sans-serif;
    width: 400px;
    padding: 10px;
    margin-top: 15px;
    background-color: lightblue;
    border: none;
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 10px;
                
}

.deleteBtn {
    font-family: Arial, sans-serif;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
                
}

.editBtn {
    font-family: Arial, sans-serif;
    background-color: greenyellow;
    color: black;
    border: none;
    padding: 5px 10px;
}

.buttonGroup {
    display: flex;
    gap: 10px;
}